@mixin all($suffix: '') {
  @for $i from 1 through 12 {
    .cell#{$suffix}#{$i} {
      width: percentage($i/12);
    }
    .offset#{$suffix}#{$i} {
      left: percentage($i/12);
    }
  }
  .hide#{str-slice($suffix, 0, str-length($suffix)-1)} {
    display: none;
  }
  .show#{str-slice($suffix, 0, str-length($suffix)-1)} {
    display: block;
  }
}

.row {
  width: 100%;
  margin: 0 auto;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
  }
  & [class*="cell-"] {
    float: left;
    display:block;
    min-height: 1px;
  }
  .columns {
    padding-left: 20px;
    padding-right: 20px;
  }
  $screens: (
  '-': null,
  '-mobile-': (min-width: 0px, max-width: 480px),
  '-tablet-': (min-width: 481px, max-width: 768px),
  '-desktop-': (min-width: 769px, max-width: 1280px),
  '-large-desktop-': (min-width: 1281px, max-width: 999999px)
  );
  @each $label, $screen in $screens {
    @if ($screen != null) {
      @media screen and (max-width: map-get($screen, 'max-width')) {
        @include all('-max' + $label)
      }
      @media screen and (min-width: map-get($screen, 'min-width')) {
        @include all('-min' + $label)
      }
      @media screen and (min-width: map-get($screen, 'min-width')) and (max-width: map-get($screen, 'max-width')) {
        @include all('-only' + $label)
      }
    } @else {
      @include all($label);
    }
  }
}
